:root {
    --img-width: 45vw;
    --img-height: 400px;
    --btn-border-radius: 8%;
    --card-border-radius: 5%;
    --max-min-width: 70px;
    --test-border: solid 2px blue;
    --filter-input-height: 40px;
}

.filter-form {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: fit-content;
    justify-content: center;
    align-items: end;
    margin: 90px 0;
    font-size: x-large;
}

.filter-bar {
    width: 100%;
    justify-content: center;
    align-items: end;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#clear-filter-form {
    width: fit-content;
    justify-content: center;
    margin: 90px 0;
}

.filter-form #city-input {
    width: 200px;
    grid-column: 1/3;
    height: var(--filter-input-height);
}

.filter-form div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 3px;
    column-gap: 3px;
}

.filter-form div *:nth-child(1) {
    width: 100%;
    grid-column: 1/3;
    grid-row: 1/2;
}

.filter-form div *:nth-child(2) {
    width: var(--max-min-width);
    height: var(--filter-input-height);
    grid-column: 1/2;
    grid-row: 2/3;

}

.filter-form div *:nth-child(3) {
    width: var(--max-min-width);
    grid-column: 2/3;
    grid-row: 2/3;
    height: var(--filter-input-height);

}


.btn {
    border-radius: var(--btn-border-radius);
}

.submit-filter {
    border-radius: var(--btn-border-radius);
    background-color: #FFCC00;
    font-weight: bold;
    font-size: 15px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    width: fit-content;
    border-color: #DDDDDD;
    border: none;
}

.submit-filter:hover {
    background-color: #E6B800;
    cursor: pointer;
}

.clear-filter {
    border: none;
    cursor: pointer;
    height: 80px;
    width: 80px;
}

.clear-filter * {
    height: 40px;
    width: 40px;
}

.btn {
    height: 50px;
    width: fit-content;
}